<div class="answer-edit">
    <h2>{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group"
             [ngClass]="{ 'has-error has-feedback' : hasError('Text') } ">
            <label for="text">Answer text:</label>
            <br />
            <textarea id="text"
                      formControlName="Text" required
                      class="form-control"
                      placeholder="enter a suitable text..."></textarea>
            <span *ngIf="hasError('Text')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Text')"
                 class="help-block">
                Text is a required field: please insert a valid Text.
            </div>
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error has-feedback' : hasError('Value') } ">
            <label for="value">Score Value:</label>
            <br />
            <select id="value" name="value"
                    class="form-control"
                    formControlName="Value" required>
                <option value="">Select a value...</option>
                <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]"
                        [value]="num">
                    {{num}}
                </option>
            </select> 
            <div *ngIf="hasError('Value')"
                 class="help-block">
                Please select a valid number between -5 and 5.
            </div>
        </div>
        <div class="form-group">
            <button *ngIf="editMode" type="submit"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-edit"></span>
                Apply Changes
            </button>
            <button *ngIf="!editMode" type="submit"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Create the Answer!
            </button>
            <button (click)="onBack()" type="submit"
                    class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </button>
        </div>
    </form>
</div>